@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --radix-collapsible-content-height: 0;
    --radix-toast-swipe-end-x: 0;
    --radix-toast-swipe-move-x: 0;
}


@layer utilities {
    .col-anim-down {
        overflow: hidden;
        animation: slideDown 500ms ease-out;
    }

    .col-anim-up {
        overflow: hidden;
        animation: slideUp 500ms ease-out;
    }

    .ToastRoot[data-swipe='move'] {
        transform: translateX(var(--radix-toast-swipe-move-x));
    }

    .ToastRoot[data-swipe='cancel'] {
        transform: translateX(0);
        transition: transform 200ms ease-out;
    }

    .ToastRoot[data-swipe='end'] {
        animation: slideRight 1000ms ease-out;
    }


}


@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-collapsible-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-collapsible-content-height);
    }
    to {
        height: 0;
    }
}


@keyframes slideRight {
    from {
        transform: translateX(var(--radix-toast-swipe-end-x));
    }
    to {
        transform: translateX(1000%);
    }
}
